$brand-primary: #00d8ff;

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "loader.scss";
@import "globalMessage.scss";


$font-stack:    Helvetica, sans-serif;
